.App {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 30px auto;
  color: #374151;
}

.weather-app-day {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: white;
}


.weather-app-night {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: blue;
}

.container {
  width: 100%;
  height: auto;
}
