
.App {
  font-family: 'Poppins', sans-serif;
  color: #374151;
  background: white;
  padding: 40px;
  
}

.weather-app-day {
  margin: 0px auto;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #374151;
  border-radius: 5px;
  background: white;
}


.weather-app-night {
  padding: 20px;
  border: 1px solid #374151;
  border-radius: 5px;
  background: white;
}

.container {
  width: 100%;
  height: auto;
}
