  .weather-temperature img {
    margin-right: 10px;
    height: 80px;
    width: 80px;
  }

  #search-button {
    color: #fff;
    background-color: #4286EE;
  }
  #current-button {
    color: #4286EE;
    font-size: 12px;
  }
  
  #sun {
    border: 1px solid #F8B119;
  }

  #moon {
    border: 1px solid #374151;
  }

  .sunTime {
    font-weight: 550;
  }

  .moonTime {
    font-weight: 550;
  }