#search-button {
    color: #fff;
    border: 1.5px solid #4286EE;
    background-color: #4286EE;
    margin-left: 15px;
  }
  
  #city-input {
    border: 1.5px dotted #374151;
  }

  #sun {
    border: 1.5px solid #F8B119;
  }

  #moon {
    border: 1.5px solid #4286EE;
  }

  .sunTime {
    font-weight: 450;
  }

  .moonTime {
    font-weight: 450;
  }

  @media (max-width: 720px) {
    #search-button {
      font-size: 12px;
    }
    .fas {
      display: none;
    }
    #city-input {
      font-size: 12px;
    }
  }