ul li {
  font-weight: 500;
}

ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    color: #374151;
    font-size: 16px;
    line-height: 19px;
  }


  li:first-letter {
    text-transform: capitalize;
  }
  
  .overview {
      margin-bottom: 20px;
    }
    
    .overview ul {
      padding: 0px;
    }

    .weather-temperature img {
      margin-right: 10px;
      height: 80px;
      width: 80px;
    }
    
#city {
    color: #F8B119;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0;
  }
  

  #description {
      color:#4286EE;
      font-weight: 400;
  }

  #date {
      font-weight: 550;
  }

  .iconDescription {
    display: inline;
  }
  
  #mainIcon {
      margin-top: -10px;
      margin-left: 10px;
  }
