.card {
    margin: 50px 0 5px 0;
  }
  .card-header {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  .ForecastDay {
    font-size: 20px;
    font-weight: 700;
    color: #4286EE;
  }
 .ForecastIcons {
    height: 64px;
    width: 64px;
    margin: -5px;
  }
  .ForecastHigh {
    font-size: 18px;
    font-weight: 600;
  }
  .ForecastLow {
    color: #F8B119;
    font-size: 15px;
    opacity: 0.8;
  }

  .ForecastDescription {
    font-size:9px;
  }
  
  #forecast {
    text-align: center;
  }

  #forecastCard {
    border: 2px solid #374151;
  }

  #dailyForecast {
    background: white;
  }
  
