.card {
    margin: 50px 0 5px 0;
  }
  .card-header {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  .ForecastDay {
    font-size: 20px;
    font-weight: 700;
    color: #17a2b8;
  }
 .ForecastIcons {
    height: 64px;
    width: 64px;
    margin: -5px;
  }
  .ForecastHigh {
    font-size: 18px;
    font-weight: 600;
  }
  .ForecastLow {
    color: #ec6e4c;
    font-size: 14px;
    opacity: 0.5;
  }
  
  #forecast {
    text-align: center;
  }