.card {
    margin: 50px 0 5px 0;
  }
  .card-header {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  .ForecastDay {
    font-size: 20px;
    font-weight: 700;
    color: #4286EE;
  }

  .ForecastHigh {
    font-size: 18px;
    font-weight: 450;
  }
  .ForecastLow {
    color: #F8B119;
    font-size: 15px;
    opacity: 0.8;
  }

  .ForecastDescription {
    font-size:10px;
  }
  
  #forecast {
    text-align: center;
  }

  #forecastCard {
    border: 1.5px solid #374151;
  }

  #dailyForecast {
    background: white;
  }
  
